@import '../../styles/mixins.scss';

.programTile {
	width: 100%;
	height: 100%;
	border: 10px solid var(--dark-green);
	display: flex;
	flex-wrap: wrap;
    flex-direction: column;
	justify-content: space-between;

	background-repeat: no-repeat;
    background-size: cover;

	box-shadow: var(--shadow);
}

.topSection {
	display: flex;
	flex-direction: column;
	color: white;
}

.title {
	padding: 5px 8px;
	display: inline-block;
	background-color: var(--dark-green);
	@include media-breakpoint(sm) {
		font-size: 1.5rem;
	}
}
.time {
	padding: 5px 8px;
	display: inline;
	background-color: var(--dark-green);
	font-size: 0.8rem;
	@include media-breakpoint(sm) {
		font-size: 1.2rem;
	}
	@include media-breakpoint(xs) {
		font-size: 1rem;
	}
	

}

.user {
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 5px solid var(--dark-green);
	
	background-repeat: no-repeat;
    background-size: cover;

	@include media-breakpoint(sm) {
		height: 50px;
		width: 50px;
	}
}

.bottomSection {
	display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.broadcasters {
	height: 70px;

	@include media-breakpoint(sm) {
		height: 50px;
	}
}

.seeProgram {
	padding: 5px 8px;
    display: inline;
    background-color: var(--dark-green);
    font-size: 0.8rem;
	color: #ffffff;

	@include media-breakpoint(sm) {
		font-size: 1.2em;
	}
}