@import '../../../styles/utils.scss';

$inactiveSize: 90vh;
$activeSize: 30vh;

.playerWrapperContainer {
    @include responsivePage;
    position: fixed;
    inset: 0;
    z-index: 9999;
    transition: background-color 0.5s ease-in-out;
}

.inactivePlayerWrapperContainer {
    background-color: transparent;
}

.playerWrapperWrapper {
    @include responsivePageWrapper;
    background-color: #060606;
    transition: transform 0.5s ease-in-out, padding-bottom 0.5s ease-in-out;
}

.initialPlayerWrapper {
    transform: translateY(0);
    padding-bottom: 0;
}

.activePlayerWrapper {
    transform: translateY($activeSize);
    padding-bottom: $activeSize;
}

.inactivePlayerWrapper {
    transform: translateY($inactiveSize);
    padding-bottom: $inactiveSize;
}

.PlayerWrapperAbout {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.playerWrapperTitle {
    color: #8F8989;
    font-size: 40px;
}

.playerWrapperSubtitle {
    color: #8F8989;
    font-size: 17px;
}

.playerWrapperQuote {
    color: #CC9933;
    font-size: 20px;
}

.playerWrapperPlay {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerWrapperPlaySubtitle {
    color: #CC9933;
    font-size: 13px;
}

.PlayerWrapperFooter {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-block-end: 20px;
}

.playerWrapperFooterButton {
    background: transparent;
    color: #CC9933;
}

.footerButtonIcon {
    transform: rotate(180deg);
}