.aboutUsWrapper {
	background: linear-gradient(310deg, #141214 10.16%, #383324 63.78%);
	mix-blend-mode: screen;
	margin-top: 45px;
}

.aboutUsText {
	font-family: 'Heebo';
    color: #CCCCCC;
    font-size: 14px;
    line-height: 21px;
    padding: 21px;
	text-align: justify;
}
