@import "../../../styles/mixinsNew.scss";

.seekerWrapper {
  display: flex;
  align-items: center;
  color: var(--banana);
  flex-direction: row-reverse;
  gap: 10px;
  padding-inline: 10px;
}

.seeker {
  direction: ltr;
  background-color: var(--light-green);
  -webkit-appearance: none;
  width: 100%;
  @include media-breakpoint(md) {
    bottom: 150px;
  }
  &::-webkit-slider-runnable-track {
    height: 14px;
    margin-top: -1px;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -12px;

    height: 40px;
    width: 40px;
    background-color: var(--light-green);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px #aaa;
    border: 7px solid #042901;
  }
}
