@import '../../styles/mixins';


.programsPage {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://res.cloudinary.com/marik-shnitman/image/upload/f_auto,dpr_auto,q_auto/v1631971111/radiosavta/backgrounds/bg_grey_1");
	background-size: cover;
	padding-top: 4rem;
	@include media-breakpoint(md) {
		padding-top: 2rem;
	}
}

.quoteSection {
	margin-bottom:1rem;
}

.quote {
	color: #ffffff;
	font-size: 1rem;
	margin-bottom: 1.5rem;
	margin-top: var(--SPACE2);
	text-shadow: var(--shadow);
	text-align: center;

	@include media-breakpoint(sm) {
		margin-right: 1.5rem;
	}
}

.programsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

	@include media-breakpoint(md) {
		grid-template-columns: 1fr 1fr;
	}
	@include media-breakpoint(sm) {
		grid-template-columns: 1fr;
	}
}

.programWrapper {
	aspect-ratio: 16 / 9;
	margin: 10px;
	
	@include media-breakpoint(md) {
		margin: 10px 0;
		aspect-ratio: revert;
	}
}