.responsivePage {
	background-color: #333333;
	display: flex;
	justify-content: center;
	align-items: center;

	padding-top: 35px;
}

.pageWrapper {
	background-color: #333333;
	width: 100%;
	height: calc(var(--vh, 1vh)*100);

  @media (min-width: 430px) {
	width: 400px;
	margin: 5vh 0;
  }
}