@import '../../styles/mixins';

.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0;
	grid-row-gap: 0;
	
		@include media-breakpoint(sm) {
			grid-template-columns: repeat(2, 1fr);
		}
}