@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.input {
  display: block;
  font-family: "Heebo";
  margin-bottom: 10px;

  label {
    font-size: 14px;
    color: #cccccc;
  }

  input,
  textarea {
    width: 100%;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 0 10px;
    font-family: "Heebo";
    font-size: 14px;
    line-height: 21px;
    color: #cccccc;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 5px;

    &:focus {
      border: 1px solid #cc9933;
      outline: none;
    }
  }

  &[data-type="submit"] {
    display: flex;

    span {
      display: none;
      align-items: center;
      border: 1px solid #cccccc;
      border-left: none;
      border-radius: 0 5px 5px 0;
      height: 40px;
      padding-right: 8px;
      color: #cccccc;
      background-color: #141214;
      transition: all 0.3s ease-in-out;
    }

    button {
      width: 100%;
      height: 40px;
      border: 1px solid #cccccc;
      border-radius: 5px;
      padding: 0 10px;
      font-family: "Heebo";
      font-size: 14px;
      line-height: 21px;
      color: #141214;
      background-color: #cc9933;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: #eeb137;
        color: #141214;
      }

      &:disabled {
        transition: none;
        background-color: #141214;
        color: #cccccc;
        cursor: not-allowed;
      }
    }

    &[data-skin="loading"] {
      button {
        border-radius: 5px 0 0 5px;
        border-right: none;
      }

      span {
        display: flex;
        svg {
          animation: rotation 1s linear infinite;
        }
      }
    }

    &[data-skin="success"] {
      button {
        color: #cccccc;
        background-color: #1e742b;
        border-radius: 5px 0 0 5px;
        border-right: none;
      }

      span {
        background-color: #1e742b;
        display: flex;
        svg {
          animation: none;
        }
      }
    }
  }

  textarea {
    height: 100px;
  }
}
