@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.alert {
  font-family: "Heebo";
  color: #cccccc;
  font-size: 14px;
  line-height: 21px;
  padding: 5px;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;

  animation: fadeIn 0.5s ease-in-out;

  &[data-type="success"] {
    background-color: #1e742b;
    border: 3px solid #0a270e;
  }

  &[data-type="error"] {
    background-color: #c70000;
    border: 3px solid #5c0000;
  }

  span {
    display: flex;
    margin: 0;
    margin-left: 5px;
  }

  p {
    text-align: center;
    width: 100%;
  }
}
