@import "../../../styles/mixinsNew.scss";

.fullScreenPlayerWrapper {
	font-size: 0.7rem;
  position: fixed;
  background: rgba(74, 74, 74, 0.4);
  right: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  transition: top 0.3s ease-in-out, z-index 0.3s ease-in-out;
  z-index: 5002;
  height: 100vh;

  @include media-breakpoint(md) {
	  display: none;
  }

  .fullScreenPlayer {
    flex-basis: 100%;
    background: var(--dark-green);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .fullScreenPlayer__imageContainer {
	  height: 100px;
	  width: 100px;
	  text-align: center;
	  margin: auto;
  }

  .fullScreenPLayer__image {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }

  .fullScreenPlayer__close {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
  }

  .fullScreenPlayer_content {
    width: 100%;
    color: var(--banana);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--SPACE2);
  }

  img {
    max-width: 100%;
  }
  .fullScreenPlayer__actions {
    border-bottom: 1px solid var(--banana);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: var(--SPACE3) 0;
    color: white;

	button {
		background: none;
		border: none;
		color: white;

		&:disabled {
			color: #757575;
		}
	}
  }
  .fullScreenPlayer__buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .fullScreenPlayer__button {
    background: transparent;
    width: 50px;
    height: 50px;
    border-width: 0px;
    cursor: pointer;
    color: white;
    padding: 0;
  }
}

.fullScreenPLayer__title {
	font-size: 0.9rem;
}
.fullScreenPLayer__subtitle {
	font-size: 0.8rem;
	color: #fff;
}
