@import "../../../styles/mixinsNew.scss";

.fullScreenPlayerWrapper {
  font-size: 0.7rem;
  position: fixed;
  background: rgba(74, 74, 74, 0.4);
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  transition: transform 0.3s ease-in-out;
  z-index: 5002;
  transform: translateY(100vh);
  transition-delay: 0s;

  @include media-breakpoint(md) {
    display: none;
  }

  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      transform: none;
      transition: bottom, 0.3s ease-in-out;
      bottom: -100vh;
    }
  }

  @media screen and (orientation: landscape) {
    transform: translateY(100%);
  }

  .fullScreenPlayer {
    flex-basis: 100%;
    background: var(--dark-green);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .fullScreenPlayer__imageContainer {
    height: 100px;
    width: 100px;
    text-align: center;
    margin: auto;
  }

  .fullScreenPLayer__image {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }

  .fullScreenPlayer__close {
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    left: 10px;
    width: 40px;
    height: 40px;
  }

  .fullScreenPlayer_content {
    width: 100%;
    color: var(--banana);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--SPACE2);
  }

  img {
    max-width: 100%;
  }
  .fullScreenPlayer__actions {
    position: relative;
    border-bottom: 1px solid var(--banana);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: var(--SPACE3) 0;
    color: white;

    button {
      background: none;
      border: none;
      color: white;

      &:disabled {
        color: #757575;
      }
    }
  }
  .fullScreenPlayer__buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .fullScreenPlayer__button {
    background: transparent;
    width: 50px;
    height: 50px;
    border-width: 0px;
    cursor: pointer;
    color: white;
    padding: 0;
  }
}

.fullScreenPLayer__title {
  font-size: 0.9rem;
}
.fullScreenPLayer__subtitle {
  font-size: 0.8rem;
  color: #fff;
}

.fullScreenActive {
  transform: translateY(0);
  transition-delay: 0.3s;
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      bottom: 0;
    }
  }
  @media screen and (orientation: landscape) {
    transform: translateY(50%);
  }
}
