@import '../../styles/mixins';

$gap: 10px;
.recordedShowsListWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: $gap;
	width: 100%;
}

.singleShow {
	width: calc(33% - 20px);
    margin: 10px 10px;

	@include media-breakpoint(sm) {
		width: 100%;
		height: auto;
	}
}