$gap: 10px;

.recordedShowsListWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: $gap;
	width: 100%;
}

.singleShow {
	flex-basis: calc( 50% - $gap );
    height: 88px;

	@media screen and (max-width: 1024px) {
		width: 90%;
		flex-basis: 90%;
	}
}