@import '../../styles/mixins';

.aboutUsPage {
	font-size: 1rem;
	padding: 0 50px;
	background-image: url('https://res.cloudinary.com/marik-shnitman/image/upload/v1633459010/radiosavta/backgrounds/vinyl.png');
	background-size: contain;
	padding-top: 4rem;
	
	@include media-breakpoint(md) {
		padding-top: 2rem;
	}

	@include media-breakpoint(sm) {
		padding-top: 2rem;
	}
}

.quoteSection {
	text-align: center;
	
}

.titleSection {
	margin: var(--SPACE1) 0;
}

.quote {
	margin-bottom: 1.5rem;
	display: inline;
	    color: #ffffff;
    font-size: 0.8rem;
    text-shadow: var(--shadow);
    letter-spacing: 2px;
	background-color: rgba(4, 41, 1, 40%);
	padding: 10px;

	@include media-breakpoint(sm) {
		line-height: 2rem;
	}
}

.section {
	background-color: rgba(4, 41, 1, 40%);
	
	p {
		font-size: 0.9rem;
		line-height: 34px;
		color: #ffffff;
		text-shadow: 5px 5px 4px #000000;
		letter-spacing: 1px;
		padding: 15px 15px;
		padding-bottom: 0;
		
		@include media-breakpoint(sm) {
			font-size: 1rem;
		}
	}

	@include media-breakpoint(md) {
		text-align: center;
		display: block;

		font-size: 2rem;
	}
}

.firstSection {

	img {
		box-shadow: var(--shadow);
    width: 600px;
    float: left;
    margin-right: 40px;
	margin-bottom: var(--SPACE1);
	max-width: 600px;
    height: 300px;
		
		@include media-breakpoint(md) {
			max-width: 100%;
			height: auto;
			float:none;
			margin-right: 0;
		}

	}
	
	p {
		align-self: center;
		@include media-breakpoint(md) {
			margin-top: var(--SPACE1);
		}
	}

	@include media-breakpoint(md) {
		display: block;
	}
}

.storyImageWrapper {
	margin: var(--SPACE3) 0;
	text-align: center;
	
	img {
		box-shadow: var(--shadow);
		width: 100%;
	}
}

.teamMembersWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.timelineSection {
	
}