@import "../../styles/mixinsNew.scss";

.playerWrapperPlaySubtitle {
  display: block;
  color: #CC9933;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
}


.playButtonWrapper {
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 50%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
}


.PlayerWrapperAbout {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.playerWrapperTitle {
  color: #8F8989;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 5px;
}

.playerWrapperSubtitle {
  color: #8F8989;
  font-weight: 400;
  font-size: 17px;
}

.playerWrapperQuote {
  color: #CC9933;
  font-size: 20px;
  font-weight: 400;
  margin-top: 15px;
  padding: 0;
}

.togglePlayerButton {
  display: block;
  width: 25px;
  height: 5px;
  background: #CC9933;
  border-radius: 10px;
}

.actionButton {
  display: block;
  background: transparent;
  border: none;
  color: #CC9933;
  font-size: 20px;
  cursor: pointer;
}

.volumeButton > div {
  display: none;
}

.volumeButton:hover > div {
  display: block;
}

// active mode

.activeContent {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: relative;
}

.activeContentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 7px;
}

.activeContentWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.playerImage {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.programName {
  font-size: 18px;
  color: #CC9933;
  font-weight: 400;
  margin-bottom: 5px;
}

.songTitle {
  font-size: 15px;
  font-weight: 400;
  color: #cccccc;
}

.seekerWrapper {
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
}

// inactive mode

.inactivePlayerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  pointer-events: all;
  padding: 5px;
  position: relative;
  > img {
    margin-left: auto;
  }
}

.inactivePlayerInner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerActions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.volumeWrapper {
  position: relative;
}