@import "../styles/mixins.scss";

.gallerySection {
	direction: ltr;
	height: calc(100vh - var(--footerHeight) - 100px);
	max-height: 600px;
	position: relative;
}

.sliderWrapper {
	height: 100%;
}

.slideImage {
	width: 100%;
    height: 100%;
    object-fit: cover;

	@include media-breakpoint(sm) {

	}
}

.homeContentWrapper {
	direction: rtl;
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 50%);
	width:100%;
	height: 100%;

	@include media-breakpoint(sm) {
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 0 var(--SPACE3);
	}

}

.homeContent {
	display: flex;
    flex-direction: column;
	margin-top: var(--SPACE2);
	color: white;
}

.quote {
	font-size: 0.7rem;
	max-width: 450px;
}

.latestShowsSection {
	position: relative;
	text-align: center;
	background-size: cover;
	background-image: url("https://res.cloudinary.com/marik-shnitman/image/upload/v1625318050/radiosavta/backgrounds/text1.jpg");

	h2 {
		position: inherit;
		background-color: var(--light-green);
		display: inline-block;
		color: #ffffff;
		padding: 5px 8px;
		z-index: 1;
	}
}


.latestShowsList {
	padding-top: 30px;
	display: flex;
	justify-content: center;
	width: 90%;
	margin: auto;
}

.allShowsLink {
	display: inline-block;
	background-color: var(--light-green);
	position: relative;
	color: #ffffff;
	padding: 5px 8px;
	margin-block: var(--SPACE3);
}

.latestShowsBg {
	z-index: 0;
}


.programsList {
	position: relative;
	text-align: center;
	background-image: url("https://res.cloudinary.com/marik-shnitman/image/upload/v1637700618/radiosavta/assets/vectors/vinyls.png");
    background-size: 130px;
    background-position: center;
    background-attachment: fixed;

	h2 {
		position: inherit;
		background-color: var(--light-green);
		display: inline-block;
		color: #ffffff;
		padding: 5px 8px;
		z-index: 1;
		margin-bottom: 30px;
	}
}

.programsListWrapper {
	width: 90%;
	margin: auto;
}

/** About us section */
.aboutUsSection {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	height: calc(100vh - var(--footerHeight) - 100px);
	max-height: 1000px;
	color: #ffffff;
}
.aboutUsPane {
	grid-area: 1 / 2 / 2 / 3;
	text-shadow: var(--shadow);
	background-image: url("https://res.cloudinary.com/marik-shnitman/image/upload/w_600/v1637768906/radiosavta/backgrounds/pub40_BW.jpg");
	background-size: cover;
    background-repeat: no-repeat;
	padding: var(--SPACE2);

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.logoWrapper {
}
.aboutUsTextWrapper {
	font-size: 0.7rem;
}
.aboutUsText {}
.aboutUsText {}
.galleryPane {
	grid-area: 1 / 1 / 2 / 2;
}

.aboutUsSliderImage {
	max-width: 100%;
}