.agendaWrapper {
  margin: 10px 0;
  padding: 10px 0;
  padding-right: 21px;
  font-family: "Heebo";
  background: linear-gradient(310.52deg, #141214 10.16%, #383324 63.78%);
  mix-blend-mode: screen;
  border-radius: 10px;
}

.agendaItem {
  margin-bottom: 5px;
  line-height: 14px;
}
.agendaItemTime {
  display: inline-flex;
  gap: 5px;
  margin-left: 10px;
  color: #cc6666;
  font-size: 16px;
}

.agendaItemName {
  display: inline-block;
  color: #cccccc;
}

.recordedShowsSection {
  margin-top: 50px;
}
.recordedShowsWrapper {
  margin-top: 10px;
}
.recordedShowItem {
  background: linear-gradient(310.52deg, #141214 10.16%, #383324 63.78%);
  mix-blend-mode: screen;

  font-family: "Heebo";
  font-size: 16px;
  margin-bottom: 3px;
  border-radius: 10px;
  padding: 10px 0;
  padding-right: 21px;

  h4 {
    color: #cccccc;
    margin-bottom: 5px;
  }

  h5 {
    color: #cc9933;
  }

  &[data-isplaying="true"] {
    background: #8f8989;

    h4 {
      color: #cccccc;
    }

    h5 {
      color: #060606;
    }
  }
}
