.programHosts {
	font-family: 'Heebo';
	font-size: 16px;
	color: #CCCCCC;
	margin-bottom: 10px;
}

.recordedShowWrapper {
	font-family: 'Heebo';
	height: 66px;
	background: linear-gradient(310.52deg, #141214 10.16%, #383324 63.78%);
	mix-blend-mode: screen;
	border-radius: 10px;
	padding: 6px 14px;
	padding-right: 21px;
	margin-bottom: 6px;

	cursor: pointer;

	h3 {
		font-size: 16px;
		margin-bottom: 10px;
	}

	p {
		font-size: 16px;
		color: #CC9933;
	}

	&[data-isPlaying="true"] {
		background: #8F8989;

		h3 {
			color: #CCCCCC;
		}

		p {
			color: #060606;
		}
	}
}