@import '../../styles/mixinsNew';

$animationTime: 0.3s;


.agendaWrapper {
    width: 100%;
    background-color: var(--dark-green);
    transition: height $animationTime ease-in-out, font-size $animationTime ease-in-out, top $animationTime ease-in-out;
    position: absolute;
    right: 0;
    left: 0;
    text-align: start;
    z-index: 9999;
    p {
        color: white;
        text-align: center;
        direction: ltr;
        unicode-bidi: bidi-override;
    }
}

.agendaButton {
    background: transparent;
    color: yellow;
    cursor: pointer;
    z-index: 999;
    position: relative;
    border: 0;
    transition: transform $animationTime ease-in-out;
    font-size: 1rem;
    padding: 0;
    margin: 5px;
    &:focus, &:active {
        border: 0;
        outline: 0;
    }
    img {
        pointer-events: none;
    }
}

.dNone {
    font-size: 0;
    height: 0;
    top: 0;
    z-index: -1;
}

.dFlex {
    font-size: 1rem;
    height: 180px;
    top: -175px;
    padding: 5px 0 0;
    .agendaButton {
        transform: rotate(180deg);
    }
}