@import '../../styles/mixinsNew.scss';

.seeker {
  direction: ltr;
  position: fixed;
  bottom: 70px;
  left: 0;
  right: calc(var(--navbar-width) + (var(--play-button-width) / 2) - 4px);
  width: 100%;
  z-index: 99999;
  background-color: var(--light-green);
  -webkit-appearance: none;
  @include media-breakpoint(md) {
    bottom: 150px;
  }
  &::-webkit-slider-runnable-track {
    height: 14px;
    // -webkit-appearance: none;
    // color: var(--dark-green);
    // background-color: var(--dark-green);
    margin-top: -1px;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid var(--banana);
    border-radius: 50%;
    background-color: var(--banana);
    cursor: pointer;
    margin-top: -12px;

    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--light-green);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 6px #AAA;
    border: 7px solid #042901;
  }
}
