@import './mixins';

html,
body {
	direction: rtl;
  padding: 0;
  margin: 0;
  font-family: "Alef", sans-serif;
  background-color: var(--banana);

  font-size: 30px;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
	--padding-default: 15px;
	--footerHeight: 150px;
	--dark-green: #042901;
	--light-green: #066600;
	--banana: #ded15b;

	--navbar-width: 200px;

	--SPACE1: 15px;
	--SPACE2: 25px;
	--SPACE3: 50px;
	--SPACE4: 75px;
	--SPACE5: 100px;
	
	@include media-breakpoint(sm) {
		--SPACE1: 5px;
		--SPACE2: 10px;
		--SPACE3: 15px;
		--SPACE4: 20px;
		--SPACE5: 25px;
	}
}

.section-title {
	margin-bottom: 25px;
	text-align: center;
	font-size: 1rem;
}

@media screen and (max-width: 576px) {
	:root {
		--navbar-width: 80px;
	}
}

