@font-face {
  font-family: "Alef";
  src: url("../../styles/fonts/Alef-Bold.ttf");
  src: url("../../styles/fonts/Alef-Regular.ttf");
}

.radiosavtaPlayer {
  --backgroundColor: #0e2812;
  --textColor: #feb04c;

  font-family: "Alef";
  display: block;
  background-color: #ffffff;

  color: var(--textColor);

  padding: 50px 30px;
  min-width: 650px;
}

.playerWrapper {
  min-height: 50px;
  min-width: 420px;
  margin: 10px;

  background-color: var(--backgroundColor);
  border-radius: 15px;
  display: flex;

  padding-right: 15px;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.playPauseButtonWrapper {
	width: 40px;

	img {
		width: 100%;
	}
}

.currentSongInfo {
  h2 {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.songTitle {
  font-size: 14px;
}

.artistName {
  font-size: 11px;
}

.logoWrapper {
  margin-top: -30px;
  margin-left: -30px;
  transform: scale(1.25);
}

.volumeControlsWrapper {
  display: flex;
  align-items: center;
}

.volumeIconWrapper {
  display: inline-block;
}

.volumeSlider {
  margin-right: 10px;

  direction: rtl;
  background:  linear-gradient(90deg, #FF1C1C 0%, #FFE600 49.59%, rgba(21, 165, 43, 0.41) 100%);
  -webkit-appearance: none;
  width: 100%;
  height: 5px;

  &::-webkit-slider-runnable-track {
    height: 14px;
    //   margin-top: -1px;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    cursor: pointer;
      margin-bottom: -5px;

    height: 10px;
    width: 10px;
    background:  var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 2px #fff;
  }
}
